@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300;1,400&family=Montserrat:wght@300;400&display=swap');

html, body{
    width:100%; 
    height:100%; 
    padding:0px; 
    margin:0px;
    background: #f7f7f7;
    font-family: 'IBM Plex Serif', serif;
}

body  {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}

.dock {
    margin: 30px;
}

.main {
  height: 150px;
  margin: 50px auto 0 auto;
    position: relative;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
            appearance: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
}

h1 {
    font-family: 'IBM Plex Serif', serif;
    line-height: 1;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
}

.social-media {
    display: block;
    margin-top: 5px;
    text-align: center;
}

.logo {
    height: 40px;
    margin: 0 5px 5px 5px;
}

.zoom {
    display: inline;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.logo {
    transition: transform 0.25s;
}

.zoom:hover .logo {
    transform: scale(1.1);
}

.buttons-section {
    display: block;
    margin: 30px 0 40px 0;
    text-align: center;
}

.button {
    margin: 7px;
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    position: relative;
    /* border-radius: 5px; */
    border: 2px solid #000000;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .4s;
}

.button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;
}

.button:hover:after {
    /* border-radius: 5px; */
    border-color: #000000;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
}

@media screen and (min-width: 200px) and (max-width: 485px) {
    h1 {
        font-size: 30px;
        line-height: 1;
    }
    
    .dock {
        margin: 25px 15px 30px 15px;
    }
    
    .buttons-section {
        margin: 25px 0 30px 0;
    }
    
    .main {
        margin: 30px auto 0 auto;
    }
    
    .zoom {
        width: 40px;
        height: 40px;
    }
    
    button {
        font-size: 11px;
    }
}

/* Timeline style */

/* Media Queries */
/* Card sizing */
/* Colors */
/* Calculations */
/* Placeholders */
@media (min-width: 1000px) {
    #timeline .demo-card:nth-child(even) .head::after, #timeline .demo-card:nth-child(odd) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }
  
    #timeline .demo-card:nth-child(even) .head::before, #timeline .demo-card:nth-child(odd) .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background-color: #919191;
      border-radius: 9px;
      box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
  }
  /* Some Cool Stuff */
  .demo-card:nth-child(1) {
    order: 1;
  }
  
  .demo-card:nth-child(2) {
    order: 6;
  }
  
  .demo-card:nth-child(3) {
    order: 2;
  }
  
  .demo-card:nth-child(4) {
    order: 7;
  }
  
  .demo-card:nth-child(5) {
    order: 3;
  }
  
  .demo-card:nth-child(6) {
    order: 8;
  }
  
  .demo-card:nth-child(7) {
    order: 4;
  }
  
  .demo-card:nth-child(8) {
    order: 9;
  }
  
  .demo-card:nth-child(9) {
    order: 5;
  }
  
  .demo-card:nth-child(10) {
    order: 10;
  }
  /* Border Box */
  * {
    box-sizing: border-box;
  }
  
  /* Fonts */
  
  #timeline {
    padding: 40px 0;
    background: #f7f7f7;
    border-top: 1px solid rgba(191, 191, 191, 0.4);
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
  }
  
  #timeline h2 {
    font-family: 'IBM Plex Serif', serif;
    line-height: 1;
    margin-top: 0px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  #timeline p.leader {
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }

  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }

/* Something here */

  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 1170px;
      height: 2550px;
      margin: 0 auto;
    }
  }

  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
  }

  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
      border-left: 1px solid #bdbdbd;
    }
  }

  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
  }

  @media (min-width: 480px) {
    #timeline .demo-card {
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }

  @media (min-width: 720px) {
    #timeline .demo-card {
      max-width: 40%;
    }
  }
  
  /* Here I find it */

  @media (min-width: 1000px) {
    #timeline .demo-card {
      max-width: 450px;
      height: auto;
      margin: 90px;
      margin-top: 45px;
      margin-bottom: 5px;
    }
    #timeline .demo-card:nth-child(odd) {
      margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
      border-left-width: 15px;
      border-left-style: solid;
      left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
      left: 491.5px;
    }
    #timeline .demo-card:nth-child(even) {
      margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
      border-right-width: 15px;
      border-right-style: solid;
      right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
      right: 489.5px;
    }
    #timeline .demo-card:nth-child(2) {
      margin-top: 180px;
    }
  }

  #timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
  }

  #timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
  }

  #timeline .demo-card .head h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
  }

  @media (min-width: 480px) {
    #timeline .demo-card .head h3 {
      font-size: 100%;
      line-height: 1.2rem;
    }
  }

  #timeline .demo-card .head h3 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }

  @media (min-width: 480px) {
    #timeline .demo-card .head h3 span {
      font-size: 0.8rem;
    }
  }

  #timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
  }

  #timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
  }

  #timeline .demo-card .body img {
    display: block;
    width: 100%;
  }

  .small {
    letter-spacing: 1.2px;
  }

  #timeline .demo-card {
    border-radius: 3px;
    background-color: #000000f8;
  }

  #timeline .demo-card .head::after {
    border-color: #000000f8;
  }

footer {
  width: 100%;
  height: 280px;
  position: relative;
  background: #000000;
}

.shin {
  height: 50px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

  h4 {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1.2px;
    font-weight: 300;
    text-align: center;
    color: #fff;
  }